@import url('https://fonts.googleapis.com/css?family=Hind+Guntur');

/*@import url('http://127.0.0.1:50061/fonts/Cairo/Cairo-Regular.ttf');*/

html {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 16pt;
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../images/singapore_4.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=60);
}

.thisText {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    height: 100%;
}

table {
    width: 100%;
    padding: 8px;
}

th {
    height: 50px;
    background-color: black;
    color: white;
}

td {
    padding: 8px;
    border: solid thin black;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.check {
    height: 30px;
    width: 30px;
}

.tdImg {
    text-align: center;
}

.tdDate {
    text-align: center;
}

.tdGreen {
    background-color: darkseagreen;
    width: 300px;
}

.tdYellow {
    background-color: gold;
}

.tdRed {
    background-color: red;
}

header {
    font-size: 40pt;
    text-align: center;
}

.bankLogo {
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

#summaryInfo,
#legalExistenceTable {
    width: 60%;
}

#flagsCount {
    background-color: gold;
}

.outcomeHeader {
    text-align: left;
    padding-left: 8px;
    width: 500px;
}

.superHeader {}

.overviewHeader {
    background-color: grey;
    color: white;
}

.sse {
    width: 25%;
}

.lolsfw {
    width: 16%;
}

#countryTable {}

.indent1 {
    padding-left: 50px;
}

#oneColumnContainer {}

.oneColumn {
    width: 50%;
    float: left;
}

.oneColumn2 {
    width: 33.3%;
    float: left;
}