@import url('https://fonts.googleapis.com/css?family=Cairo');
/*@import url('http://127.0.0.1:50061/fonts/Cairo/Cairo-Regular.ttf');*/
html {
    font-family: 'Cairo', sans-serif;
    font-size: 18pt;
}

h1 {
    font-size: 36pt;
    text-align: center;
}

div {
    text-align: center;
}

a {
    font-size: 26pt;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: cornflowerblue;
}

a:visited {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover {
    color: darkmagenta;
}

a:active {
    color: aqua;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    top: 550px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}