.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Patua One', cursive;
}

.cellHeader {
    font-weight: bold;
}

.cellContents {
    color: darkgray;
    width: 30%;
}

.companyName {
    font-size: 30px;
    font-weight: bold;
    width: 22%;
}

.navImage {
    cursor: pointer;
}

.expandInfo {
    /*width: 3.5%;*/
}

#expandUHRC {
    width: 300px;
}
