.table {
    display: table;
    /*width: 100%;*/
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Patua One', cursive;
}

.cellHeader {
    font-weight: bold;
    width: 500px;
}

.cellContents {
    color: darkgray;
    /*width: 30%;*/
    /*width: 500px;*/
}

.pageHeader {
    font-size: 30px;
}

#companyName {
    font-size: 30px;
    font-weight: bold;
    /*width: 22%;*/
    width: 500px;
}

.navImage {
    cursor: pointer;
}

.expandInfo {
    /*width: 3.5%;*/
    width: 30px;
}

.expandedInfoText {
    /*width: 100%;*/
}

.flag {
    color: red;
}

.assessment {
    font-size: 20px;
}

.badAssessment {
    color: red;
}

.averageAssessment {
    color: gold;
}

.goodAssessment {
    color: green;
}


/* Pop Ups */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.selectBox {
    width: 200px;
    font-family: 'Patua One', cursive;
    font-size: 10pt;
}

body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../images/singapore_4.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=60);
}

.thisText {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.subDiv {
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.pageHeader {
    text-align: center;
    /*font-family: 'Patua One', cursive;*/
}

.headerImage {
    height: 50px;
    display: inline-block;
}

.imageLeft {
    float: left;
}

.imageRight {
    float: left;
}

.indexPage {
    font-family: 'Permanent Marker', cursive;
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.indexPageFont {
    font-family: 'Permanent Marker', cursive;
    font-size: 16pt
}

.indexLink {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a:link {
    text-decoration: none;
    color: cornflowerblue;
}

a:visited {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover {
    color: darkmagenta;
}

a:active {
    color: aqua;
}