@import url('https://fonts.googleapis.com/css?family=Cairo');

/*@import url('http://127.0.0.1:50061/fonts/Cairo/Cairo-Regular.ttf');*/

html {
    font-family: 'Cairo', sans-serif;
    font-size: 18pt;
    height: 100%;
}

body {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../images/singapore_4.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=60);
}

.thisText {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    height: 100%;
}

.thisTextUBO {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    height: 100%;
}

.acraPDF {
    height: 1300px;
    width: 100%;
}