@import url('https://fonts.googleapis.com/css?family=Cairo');
html {
    font-family: 'Cairo', sans-serif;
    font-size: 14pt;
}


/*
body {
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow);
}
*/

#ruleZone {
    float: left;
    width: 50%;
}

#ruleZoneContent {
    height: auto;
    min-height: 300px;
    border-width: thin;
    border-color: black;
    border-style: solid;
    padding-top: 20px;
    margin: 5px;
}

#ruleDetail {
    float: left;
    clear: right;
    margin-left: 40px;
}

#ruleDetailTitle {
    padding-left: 5px;
}

#ruleDetailContent {
    width: 250px;
}

ul {
    -webkit-padding-start: 0px;
}

li {
    list-style-type: none;
}

.dnd {
    border: solid thin black;
    padding: 5px;
    margin: 5px;
}

#dueDilligenceType {
    float: left;
    clear: left;
    width: 50%;
}

.ddType {
    height: 50px;
    margin-top: 10px;
    border-width: thin;
    border-color: black;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
}

#ruleName {
    clear: left;
    float: left;
    width: 50%;
    margin-top: 10px
}

#addRule {
    width: 200px;
    text-align: center;
    border-width: thin;
    border-color: black;
    border-style: solid;
    margin: auto;
    padding: 10px;
    color: white;
    background-color: darkgray;
    cursor: pointer;
}

#completedRules {
    clear: left;
    float: left;
    margin-top: 20px;
    width: 50%;
}

#completedRulesContent {
    height: 200px;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.selectedDiv {
    background-color: black;
    color: white;
}

#backButton {
    float: right;
    background-color: black;
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#config {
    font-size: 14pt;
    padding-left: 8px;
}