@import url('https://fonts.googleapis.com/css?family=Cairo');
html {
    font-family: 'Cairo', sans-serif;
    font-size: 18pt;
}

body {
    background-image: url('/images/network.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    color: white;
    margin-top: 700px;
}

h1 {
    font-size: 36pt;
    text-align: center;
}

div {
    text-align: center;
}

a {
    font-size: 26pt;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: cornflowerblue;
}

a:visited {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover {
    color: darkmagenta;
}

a:active {
    color: aqua;
}