html {
    height: 100%
}

.bg {
    /* The image used */
    background-image: url("/images/singapore_4.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=60);
}

.thisText {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}